.DS_Store
application/*
!application/controllers/Pitisan.php
!application/database/seeds/*

license.txt
index.php
contributing.md
cli
ci_instance
.editorconfig

/vendor/
/config/
/tmp/
/system/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
